body {
	font-family: Tahoma;
	font-size: 11px;
	color: #222222;
	background-color: #FFFFFF;
  margin: 0;
  padding: 0;
}

form {
  padding: 0;
  margin: 0;
}

td {
  font-family: tahoma;
  font-size: 11px;
  color: #222222;
}

/* hides text-align to the left from IE, because the next 2 rules doesn't apply to IE*/
html>body td {
  text-align: left;
}

*[align="center"] {
  text-align: center;
}

*[align="right"] {
  text-align: right;
}

.main_outer_table{
  background-color: #cccccc;
}

.headbg{
  background-color: #dfdfdf;
}
.headbgbox{
  background-color: #d91414;
}
.loginbarbg{
  background-color: #f5f5f5;
}

.module_head {
  background-color: #d91414;
  font-size: 11px;
  font-weight: bold;
  color: #ffffff;

}

.module_head_right {
  background-color: #d91414;
  font-size: 11px;
  color: #ffffff;
}

.module_head_right a {
  background-color: #d91414;
  font-size: 11px;
  color: #ffffff;
}

.module_head_right a:hover {
  background-color: #d91414;
  font-size: 11px;
  color: #ffffff;
}

td.edituserlink{
  background-color: #d91414;
  color: #ffffff;
  font-weight: bold;
  
}
td.edituserlink a{
  background-color: #d91414;
  color: #ffffff;
  font-weight: normal;
} 
td.edituserlink a:hover{
  background-color: #d91414;
  color: #ffffff;
  font-weight: normal;
}

.text_head1 {
  font-size: 14px;
  font-weight: bold;
  color: #9f8f8c;
  text-decoration:none;
}
a.text_head1 {
  font-size: 14px;
  font-weight: bold;
  color: #9f8f8c;
  text-decoration:none;
}
a:hover.text_head1 {
  font-size: 14px;
  font-weight: bold;
  color: #9f8f8c;
  text-decoration:none;
}
.text_head2, .text_head2:hover {
  font-size: 14px;
  font-weight: bold;
  color: #9f8f8c;
}

.offer_head {
  font-size: 16pt;
  color: #695f5d;
}

.oddrow {
  background-color: #fefefe;
}

.evenrow {
  background-color: #efefef;
}

.module_detail_inside {
  font-size: 11px;
  font-weight: normal;
  background-color: #fbfbfb;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: none;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #e5e5e5;
  border-right-color: #e5e5e5;
  border-bottom-color: #e5e5e5;
  border-left-color: #e5e5e5;

}

.im_text {
  font-size: 11px;
  font-weight: normal;
  background-color: #fbfbfb;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #e5e5e5;
  border-right-color: #e5e5e5;
  border-bottom-color: #e5e5e5;
  border-left-color: #e5e5e5;

}

.module_detail {
  font-size: 11px;
  font-weight: normal;
  background-color: #fbfbfb;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: none;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #e5e5e5;
  border-right-color: #e5e5e5;
  border-bottom-color: #e5e5e5;
  border-left-color: #e5e5e5;

}

.statusbar {
  background-color: #e5e5e5;
}


th {
  font-weight: bold;
  color: #d91414;
  background-color: #e5e5e5;
  font-size: 11px;

}

th a {
  text-decoration: underline;
  color: #d91414;
}
th a:hover {
  color: #d91414;
  text-decoration: none;

}


a.subhead {
  text-decoration: underline;
  color: #d91414;
  font-weight: bold;
}
a.subhead:hover {
  color: #d91414;
  text-decoration: none;
  font-weight: bold;
}

.smallpic {
  border: 1px solid #666666;

}


input {
  font-size: 11px;
}
textarea {
  font-size: 11px;
}
select {
  font-size: 11px;
}
.formbutton {
  font-size: 11px;
  color: #ffffff;
  border-top: 1px solid #cccccc;
  border-right: 1px solid #666666;
  border-bottom: 1px solid #666666;
  border-left: 1px solid #cccccc;
  background-color: #d91414;
}

.errors {
  color: #ff0000;

}
.errormsg {
  color: #ff0000;
}

a.main_title{
  font-size: 40px;
  color: #d91414;
  text-decoration: none;
}
a:hover.main_title{
  font-size: 40px;
  color: #d91414;
  text-decoration: none;
}
.dotted{
  border-bottom-width: 1px;
  border-bottom-style: dashed;
}

.s_table_blue{
  color: #27277e;
  font-weight: bold;
}
.s_table_white{
  color: #27277e;
}

.table_blue{
  background-color: #d3e1fa;
  color: #27277e;
}
.table_white{
  background-color: #ffffff;
  color: #27277e;
}

.table_green{
  background-color: #d8f9d5;
  color: #003300;
}
.table_red{
  background-color: #ffd5d5;
  color: #990000;
}
.table_pink{
  background-color: #ffe1ff;
  color: #7d0067;
}
.table_gray{
  background-color: #efefef;
  color: #333333;
}
.table_yellow{
  background-color: #ffffcc;
  color: #b08d00;
}


.main_text1{
  font-size: 24px;

}
.page_heading {
  font-size: 14pt;
  border: 1px solid #a9bdf1;
  background-color: #dadada;
  text-align: center;
}
.headrow {
  border: 1px solid #a9bdf1;
  background-color: #c8e0fb;
  text-align: center;

}
.text8pt {
  font-size: 8pt;
}
.searchtitle {
  font-size: 14pt;
  font-weight: bold;
  color: #003366;
}
.xtitle {
  font-size: 14pt;
  border: 1px solid #a9bdf1;
  background-color: #dadada;
  text-align: center;

}
.title {
  font-size: 12pt;
  border: 1px solid #a9bdf1;
  background-color: #dadada;
  text-align: left;
  font-weight: bold;
  padding: 4px 4px 4px 11px;
  margin-left: 11px;

}
.subtitle {
  font-size: 10pt;
  color: #003366;
  border: 1px solid #96b0f5;
  background-color: #d7e1ee;
  font-weight: bold;
  padding: 1px;
}

a {
  color: #d91414;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: #f06060;
}

a.menulink {
font-size: 11px;
color: #ff66cc;
text-decoration: none;
}
a.menulink:hover {
font-size: 11px;
color: #ff66cc;
text-decoration: none;
}

a.panellink {
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  color: #d91414;
}
a.panellink:hover {
  font-weight: bold;
  font-size: 11px;
  text-decoration: underline;
  color: #d91414;
}
.panelbox {

}
.footer {
  background-color: #dfdfdf;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: none;
  border-bottom-style: solid;
  border-left-style: none;
  border-top-color: #222222;
  border-right-color: #222222;
  border-bottom-color: #222222;
  border-left-color: #222222;
}
a.footerlink {
font-size: 8pt;
color: #c13926;
text-decoration: none;
}
a.footerlink:hover {
font-size: 8pt;
color: #ff0000;
text-decoration: none;
}
.copyright{
color: #aaaaaa;
font-size: 11px;
text-decoration: none;
}
.paneltable{
  background-color: #003366;
}
.modulehead{
  color: #003366;
}


.storyhead{
  color: #695f5d;
  font-weight: bold;
}
.storydate{
  font-size: 9px;
  color: #695f5d;
  font-style: italic;
}
.storyby{
  color: #695f5d;
}
.storytext{
}

.newshead{
  color: #695f5d;
  font-weight: bold;
}
.newsdate{
  font-size: 9px;
  font-style: italic;
}
.newstext{

}

.pollquestion{
  color: #695f5d;
  font-weight: bold;
}
.polloptions{

}

.payment_mod_head{
  font-size: 11px;
  color: #695f5d;
  background-color: #f7a3f8;
}

.admin_head{
  font-size: 12px;
  color: #d91414;
  font-weight: bold;
}
h4{
  font-size: 12px;
}

.copyright:hover {
  color: #0000ff;
  font-size: 11px;
  text-decoration: underline;
}

.headerfooter, .headerfooter:hover {          /*** style of "xxx's profile", "last logge" ***/
  color: #ffffff;
  font-size: 10px;
  font-weight: bold;
  height: 20px;
}

.headerfooter:hover {             /*** hover: style of "xxx's profile", "last logge" ***/
  color: #ffffff;
  text-decoration: none;
}

.nickwidth {                /*** width of sections ***/
  margin: 10px;
  text-align: center;
  width: 550px;
}

